
.popup{
  position:fixed;
  left:50vw;
  margin-left:35px;
  top:50vh;
  margin-top:-210px;
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
}


.popup div
{
  width:300px;
  font-size:20px;
}

.popup div
{
  padding:50px;
  background-color:#6DC9F7;
  border-radius:40px;
  color:white;
  text-align:center;
}

.button:hover{
  background-color:#B9E8B1;
  cursor:pointer;
}

.button:hover ~.popup
{
  margin-left:45px;
  margin-top:-220px;
  opacity:1;
}