/*Shared*/

body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  background-color: #1976D2 !important;
}

button {
  display: block;
}

/*Structure*/

.trainsView {
  background-color: #1976D2;
  height: 100em;
}

/*Current Trains*/

  /*---TrainsList---*/
.trainsList {
  position: relative;
  top: 3%;
  height: 50vh;
  border: 1px dashed #222222;
}

  /*---TrainsListEntry---*/
.trainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.trainEntry {
  position: relative;
  height: 15.8em;
  background-color: #2196F3;
  margin: 3em auto;
  margin-bottom: 20px;
  z-index: 2;
  border-radius: 10px;
}
.trainsList:first-child {
  margin-top: 50px;
}

.trainIconTimeWrapper {
  position: absolute;
  top: 30%;
  left: 40px;
  height: 175px;
  width: 25%;
  background-color: grey;
  transform: translate(0%,-25%);
}
.trainDetailsWrapper {
  position: absolute;
  top: 30%;
  left: 33.33333%;
  height: 175px;
  width: 60%;
  background-color: darkgrey;
  transform: translate(0%,-25%);
}

.trainIcon {
  position: relative;
  top: 40%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  transform: translate(-50%,-50%);
}

.timeWrapper {
  position: relative;
  text-align: center;
  top: 30%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%,-50%);
}

.trainDest {
  position: relative;
  text-align: center;
}

.trainRatingsWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.likes, .price {
  position: relative;
  height: 25%;
  font-size: 20px;
}
.likes div, .price div {
  position: relative;
  top: 15%;
}
.likes {
  background-color: lightblue;
  text-align: right;
}
.price {
  background-color: #00bbff;
  text-align: left;
}

.passengersWrapper {
  position: relative;
  top: 70%;
  left: 33.33333%;
  width: 60%;
  height: 25%;
  margin: 10px 0px;
  background-color: grey;
  transform: translate(0%,-25%);
}
.conductor, .passenger {
  position: relative;
  background-color: #FFFFFF;
  float: left;
  margin-right: 5px;
  width: 50px;
  height: 100%;
}
.slackPic {
  position: relative;
  background-color: black;
  width: 50px;
  height: 100%;
  color: #FFFFFF;
}

.joinWrapper {
  border: 1px solid black;
  width: 50px;
  height: 55px;
  float: right;
  background-color: #808080;
  cursor: pointer !important;
}
.joinWrapper:hover {
  background-color: #0059f2;
}
.joinWrapper:active>.joinArrow {
  color: #FFFFFF !important;
}
.joinArrow {
  position: relative;
  margin-top: -20px;
  text-align: center;
  font-size: 60px !important;
}

  /*---TrainsListEntryDropdown---*/

.details.open .trainEntryDropdownWrapper {
  height: 55em;
  background-color: #FFFFFF;
}

.trainEntryDropdownWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  margin: 0px 10px;
  top: -23px;
  z-index: 1;
}

.gmap {
  height: 100%;
}

.gmapDir {
  position: relative;
  top: 25px;
}

/*MEDIA QUERIES FOR CONTAINER*/

@media (min-width: 1200px) {
  .container {
      width: 1100px !important;
  }
}
.dummy {
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}

.calendar {
  height: 25%; 
  width: 25%; 
}

.people {
  height: 25%; 
  width: 25%; 
}

.train {
  height: 25%; 
  width: 25%; 
}

.location {
  height: 25%; 
  width: 25%; 
}

.button-row {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.slack-icon {
  height: 5%;
  width: 5%;
}

.login-text {
  font-size: 20px;
  padding-left: 20px;
}