/*Shared*/

body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  background-color: #1976D2 !important;
}

button {
  display: block;
}

.topbar {
  width: 100vw;
  height: 75px;
  background-color: #064887;
}

.topbar>div {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 40px;
  text-align: center;
  font-weight: 400 !important;
  color: #FFFFFF;
}

.btn-info {
  background-color: #2196F3 !important;
  border: none !important;

}

/*Structure*/

.trainsView {
  background-color: #1976D2;
  height: 100%;
}

/*Current Trains*/

  /*---TrainsList---*/
.trainsList {
  position: relative;
  padding-top: 10%;
}

  /*---TrainsListEntry---*/
.trainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.trainEntry {
  position: relative;
  height: 15.8em;
  background-color: #2196F3;
  margin: 0.1em auto;
  z-index: 2;
  border-radius: 10px;
}
.trainsList:first-child {
  margin-top: 50px;
}

.trainIconTimeWrapper {
  position: absolute;
  top: 30%;
  left: 40px;
  height: 175px;
  width: 25%;
  background-color: grey;
  transform: translate(0%,-25%);
}
.trainDetailsWrapper {
  position: absolute;
  top: 30%;
  left: 33.33333%;
  height: 175px;
  width: 60%;
  background-color: darkgrey;
  transform: translate(0%,-25%);
}

.trainIcon {
  position: relative;
  top: 40%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  transform: translate(-50%,-50%);
}

.timeWrapper {
  position: relative;
  text-align: center;
  top: 30%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%,-50%);
}

.trainDest {
  position: relative;
  text-align: center;
}

.trainRatingsWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.likes, .price {
  position: relative;
  height: 25%;
  font-size: 20px;
}
.likes div, .price div {
  position: relative;
  top: 15%;
}
.likes {
  background-color: lightblue;
  text-align: right;
}
.price {
  background-color: #00bbff;
  text-align: left;
}

.passengersWrapper {
  position: relative;
  top: 70%;
  left: 33.33333%;
  width: 60%;
  height: 25%;
  margin: 10px 0px;
  background-color: grey;
  transform: translate(0%,-25%);
}
.conductor, .passenger {
  position: relative;
  background-color: #FFFFFF;
  float: left;
  margin-right: 5px;
  width: 50px;
  height: 100%;
}
.slackPic {
  position: relative;
  background-color: black;
  width: 50px;
  height: 100%;
  color: #FFFFFF;
}

.joinWrapper {
  border: 1px solid black;
  width: 50px;
  height: 55px;
  float: right;
  background-color: #808080;
  cursor: pointer !important;
}
.joinWrapper:hover {
  background-color: #0059f2;
}
.joinWrapper:active>.joinArrow {
  color: #FFFFFF !important;
}
.joinArrow {
  position: relative;
  margin-top: -20px;
  text-align: center;
  font-size: 60px !important;
}

  /*---TrainsListEntryDropdown---*/

.details.open .trainEntryDropdownWrapper {
  height: 55em;
  background-color: #FFFFFF;
}

.trainEntryDropdownWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  margin: 0px 10px;
  top: -23px;
  z-index: 1;
}

.gmap {
  height: 100%;
}

.gmapDir {
  position: relative;
  top: 25px;
}

.trainIcon {
  background-image: url(./assets/train.png);
  background-size: 100%;
  background-position: 0px 5px
}

/*MEDIA QUERIES FOR CONTAINER*/

@media (min-width: 1200px) {
  .container {
      width: 1100px !important;
  }
}

/* DESTINATION */

.destinations-text, .trains-test {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50%;
  text-align: center;
}

.dummy {
  font-size: 30px;
  padding: 10px;
  margin-top: 50%;
  margin-bottom: 40px;
}

.calendar {
  height: 25%; 
  width: 25%;
  margin-top: 50px; 
}

.people {
  height: 25%; 
  width: 25%;
  margin-top: 50px; 
}

.train {
  height: 25%; 
  width: 25%; 
  margin-top: 50px;
}

.location {
  height: 25%; 
  width: 25%;
  margin-top: 50px; 
}

.button-row {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginWrapper {
  position: relative;
  top: 50%;
  transform: translate(0%, 100%);
}

.top {
  position: relative;
  top: -50px;
}

.slack-icon {
  height: 30%;
  width: 30%;
}

.login-text {
  font-size: 20px;
  padding-left: 75px;
  color: #FFFFFF;
}

.loginp {
  color: #FFFFFF;
}

.loginButton {
  position: relative;
  top: 50px;
  width: 20em !important;
  color: #FFFFFF;
  margin-left: 30% !important;
}

#map {
  height: 500px;
}

#maps { 
    width: 500px;
    height: 500px;
}

.button:hover {
  background-color:#B9E8B1;
  cursor:pointer;
}

.button:hover ~.popup {
  margin-left:45px;
  margin-top:-220px;
  opacity:1;
}

.smallMap {
  width: 200px;
  height: 200px;
}

.details.open .scheduleButtonWrapper {
  height: 30em;
  background-color: #FFFFFF;
}

.scheduleButtonWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  margin: 0px 10px;
  z-index: 1;
}

.destList {
  height: 500px;
}

.itemWrapper {
  height: 3em;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #2196F3;
  overflow: scroll;
  cursor: pointer !important;
}

.itemWrapper:hover {
  background-color: #064887;
}

.itemWrapper>div {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
}