/* Shared */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  background-color: #F9F9EF;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

/* Login */

.diamond {
  position: absolute;
  background-color: #A7D2CB;
  height: 100vw;
  width: 100vw;
  transform: rotate(45deg);
  z-index: 0;
}

.loginlogos {
  width: 100vw;
  height: 15rem;
  margin-top: 1rem;
}

.trainiconlogin {
  position: relative;
  float: left;
  height: 15rem;
}
.slackiconlogin {
  position: relative;
  float: right;
  height: 15rem;
}

.loginheader {
  position: relative;
  width: 50rem;
  margin: auto;
  top: 7rem;
}
.traintexticonlogin {
  position: relative;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 0%);
}
.loginheader>h1 {
  text-align: center;
  color: #F9F9EF;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.4;
}

.slackbuttoncontainer {
  position: relative;
  z-index: 5;
  top: 8rem;
}
.loginbutton {
  position: absolute;
  display: inline-block;
  border: 2px solid #F9F9EF;
  border-radius: 5rem;
  padding: 0 35px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.loginbutton>p {
  position: relative;
  display: inline-block;
  float: right;
  color: #F9F9EF;
  font-size: 20px;
  font-weight: 300;
}
.loginbutton:hover {
  background-color: #F9F9EF;
  border: 2px solid transparent;
}
.loginbutton:hover>p {
  color: #A7D2CB;
}
.slackiconbutton {
  position: relative;
  height: 2rem;
  top: 1rem;
}

/* Landing */

.bg:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url(assets/tracksm.png) 0 0 space round;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.diag {
  position: absolute;
  background-color: #A7D2CB;
  height: 70vh;
  width: 120vw;
  top: -15rem;
  left: -5rem;
  transform: rotate(10deg);
  z-index: 1
}

.track:before, .trackH:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(assets/tracksmgrey.png) 0 0 round;
}
.track {
  position: absolute;
  height: 50vh;
  width: 17.5%;
  top: 50vh;
  left: 80vw;
}
.trackH {
  position: absolute;
  height: 125rem;
  width: 17.5%;
  top: 1rem;
  left: 50rem;
  transform: rotate(90deg);
}

.container {
  position: absolute;
  z-index: 1;
}

.logo {
  position: relative;
  z-index: 2;
  float: right;
  height: 30rem;
  margin-right: 5rem;
  margin-top: 3rem;
}

.logosm {
  position: relative;
  z-index: 2;
  float: left;
  height: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

  /*top*/

.diagTop {
  position: relative;
  height: 20rem;
  width: 50vw;
  z-index: 3;
  margin-left: 18vw;
  margin-top: 4rem;
}

.topHeader>h3 {
  position: relative;
  color: #F9F9EF;
  font-size: 45px;
  font-weight: 300;
  top: 6rem;
}

.topHeader>p {
  position: relative;
  color: #F9F9EF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  top: 5rem;
}

.trainsButton {
  position: relative;
  color: #F9F9EF;
  text-decoration: none;
  border: 2px solid #F9F9EF;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin: auto;
  width: 7rem;
  padding: 10px 30px;
  transform: translate(0, 6.5rem);
}
.trainsButton:hover {
  color: #A7D2CB;
  background-color: #F9F9EF;
}

  /*bottom*/


.diagBottom {
  position: relative;
  height: 20rem;
  width: 50vw;
  z-index: 3;
  margin-left: 18vw;
  margin-top: 15rem;
}

.bottomHeader>h3 {
  position: relative;
  color: #383737;
  font-size: 45px;
  font-weight: 300;
  top: 2rem;
}

.bottomHeader>p {
  position: relative;
  color: #383737;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  top: 1rem;
}

.destButton {
  position: relative;
  color: #383737;
  text-decoration: none;
  border: 2px solid #383737;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin: auto;
  width: 9rem;
  padding: 10px 30px;
}

.destButton:hover {
  color: #F9F9EF;
  background-color: #A7D2CB;
  border: 2px solid transparent;
}

/*Current Trains*/

.trainsView {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

  /*---TrainsList---*/

.trainsHeader {
  position: absolute;
  top: 5rem;
  width: 100vw;
}
.trainsHeader>img {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.trainsList {
  position: relative;
  padding-top: 10%;
  margin: 10%;
  margin-right: 20%;
}

  /*---TrainsListEntry---*/
.trainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.trainEntry {
  position: relative;
  height: 15.8em;
  background-color: #A7D2CB;
  margin: 0.1em auto;
  z-index: 2;
  border-radius: 10px;
}
.trainsList:first-child {
  margin-top: 50px;
}

.trainIconTimeWrapper {
  position: absolute;
  top: 30%;
  left: 40px;
  height: 175px;
  width: 25%;
  background-color: grey;
  transform: translate(0%,-25%);
}
.trainDetailsWrapper {
  position: absolute;
  top: 30%;
  left: 33.33333%;
  height: 175px;
  width: 60%;
  background-color: darkgrey;
  transform: translate(0%,-25%);
}

.trainIcon {
  position: relative;
  top: 40%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-color: #F9F9EF;
  transform: translate(-50%,-50%);
}

.timeWrapper {
  position: relative;
  text-align: center;
  top: 30%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%,-50%);
}

.trainDest {
  position: relative;
  text-align: center;
}

.trainRatingsWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.likes, .price {
  position: relative;
  height: 25%;
  font-size: 20px;
}
.likes div, .price div {
  position: relative;
  top: 15%;
}
.likes {
  background-color: lightblue;
  text-align: center;
  float: left;
  width: 50%;
  line-height: 150%;
}
.price {
  /*background-color: rgba(0,101,114,1);*/
  text-align: center;
  float: right;
  width: 50%;
  line-height: 150%;
}

.passengersWrapper {
  position: relative;
  top: 70%;
  left: 33.33333%;
  width: 60%;
  height: 25%;
  margin: 10px 0px;
  background-color: grey;
  transform: translate(0%,-25%);
}
.conductor, .passenger {
  position: relative;
  background-color: #F9F9EF;
  float: left;
  margin-right: 5px;
  width: 50px;
  height: 100%;
}
.slackPic {
  position: relative;
  background-color: black;
  height: 100%;
  color: #F9F9EF;
}

.joinWrapper {
  border: 1px solid black;
  width: 50px;
  height: 95%;
  float: right;
  background-color: #808080;
  cursor: pointer !important;
}
.joinWrapper:hover {
  background-color: #0059f2;
}
.joinWrapper:active>.joinArrow {
  color: #F9F9EF !important;
}
.joinArrow {
  position: relative;
  margin-top: -20%;
  text-align: center;
  font-size: 60px !important;
}

  /*---TrainsListEntryDropdown---*/

.details.open .trainEntryDropdownWrapper {
  height: 55em;
  background-color: #F9F9EF;
}

.trainEntryDropdownWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
  background-color: #F9F9EF;
  margin-bottom: 20px;
  margin: 0px 10px;
  top: -23px;
  z-index: 1;
}

.gmap {
  height: 100%;
}

.gmapDir {
  position: relative;
  top: 25px;
}

.trainIcon {
  background-image: url(./assets/train.png);
  background-size: 100%;
  background-position: 0px 5px
}

/********MEDIA RESPONSIVE*********/

@media (max-width: 1400px) {

  .trainiconlogin {
    height: 15vw;
  }
  .slackiconlogin {
    height: 15vw;
  }

}

@media (max-width: 900px) {

  .diamond {
    position: absolute;
    transform: initial;
    height: 100vh;
    top: 15rem;
  }
  .trainiconlogin {
    margin-left: 5rem;
    height: 10rem;
  }
  .loginlogos:before {
    content: '+';
    position: absolute;
    width: 100vw;
    text-align: center;
    font-size: 50px;
    margin-top: 3rem;
  }
  .slackiconlogin {
    margin-right: 5rem;
    height: 10rem;
  }
  .loginheader {
    width: initial;
  }
  .loginbutton {
    position: relative;
    left: 50%;
  }

}
